.top-bar {
    background-color: #d71361;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
.navbar-light .navbar-nav .nav-link {
    color: #ffffffd3 !important;
}
.navbar-light .navbar-brand {
    color: #ffffffd3 !important;
}
html {
    visibility: visible !important;
    opacity: 1 !important;
}